@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count=0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Blog Kategorileri Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Bloglara ait kategorilerler ilgili işlemleri gerçekleştirilecek sayfadır.Yazar girişi yaparken bilgileri eksiksiz girmeye özen gösteriniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Kategory Adı</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Kategoriye Ait Bloglar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model == null || !Model.Any())
                                    {
                                        <tr>
                                            <td class="alert-row" colspan="4">Herhangi Bir Veri Girişi Bulunamamıştır</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <td>@count</td>
                                                <td>@item.Name</td>
                                                <td><a href="/Admin/AdminCategory/RemoveCategory/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                                <td><a href="/Admin/AdminCategory/UpdateCategory/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                                                <td><a href="/Admin/AdminCategory/UpdateCategory/@item.Id" class="btn btn-outline-success">Kategoriye Ait Blogları</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <br />
                            <a href="/Admin/AdminCategory/CreateCategory" class="btn btn-outline-primary">Yeni Kategori Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .alert-row {
        background-color: #ffcccc;
        text-align: center;
        color: black;
        font-size: 12px;
        font-weight: bold;
    }
</style>




