@model List<ResultAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yazar Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Yazarlarla ilgili işlemleri gerçekleştirilecek sayfadır.Yazar girişi yaparken bilgileri eksiksiz girmeye özen gösteriniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>                                       
                                        <th>Adı Soyad</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Yazarın Blokları</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model == null || !Model.Any())
                                    {
                                        <tr>
                                            <td class="alert-row" colspan="4">Herhangi Bir Veri Girişi Bulunamamıştır</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <td>@count</td>
                                                <td><image src="@item.ImageUrl" width="50" height="50" style="margin-right:10px" />@item.Name</td>
                                                <td><a href="/Admin/AdminAuthor/RemoveAuthor/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                                <td><a href="/Admin/AdminAuthor/UpdateAuthor/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                                                <td><a href="/Admin/AdminAuthor/UpdateAuthor/@item.Id" class="btn btn-outline-success">Yazarın Blogları</a></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <br />
                            <a href="/Admin/AdminAuthor/CreateAuthor" class="btn btn-outline-primary">Yeni Yazar Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .alert-row {
        background-color: #ffcccc;
        text-align: center;
        color: black;
        font-size: 12px;
        font-weight: bold;
    }
</style>




